$blurSize: 4px;
$overlayBackground: rgba(0, 0, 0, 0.5);

%fullsize {
    width: 100%;
    height: 100%;
}

@mixin borderRadius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
}

body {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

canvas {
    @extend %fullsize;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.blured {
    filter: blur($blurSize);
    -o-filter: blur($blurSize);
    -ms-filter: blur($blurSize);
    -moz-filter: blur($blurSize);
    -webkit-filter: blur($blurSize);
}

#overlay {
    @extend %fullsize;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlayBackground;
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 30px;
    /* color: white; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    p {
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .title {
        font-size: 40px;
    }
}

button {
    @include borderRadius(22px);
    background-color: #44c767;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

button:hover {
    background-color: #5cbf2a;
}

button:active {
    position: relative;
    top: 1px;
}

#panel {
    z-index: 3;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;

    #card {
        @include borderRadius(10px);
        border: 2px solid white;
        box-shadow: 2px 2px 2px black;
        -webkit-box-shadow: 2px 2px 2px black;
        width: 100%;
        /* height: 100px; */
        /* color: white; */
        margin-bottom: 10px;

        #info {
            padding: 10px;
            text-align: center;

            p {
                margin: 0 5px 0 5px;
            }
        }

        #links {
            text-align: center;
            margin: 5px;

            img {
                height: 32px;
            }
        }
    }
}